@model Product

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-3 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Delete Product</h2>
            </div>

        </div>

    </div>

</div>
<div class="card-body p-4">
    <form method="post">
        <div class="row pt-3 mt-4">
            <div class="row p-3">

                <hr />
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Title" class="form-control border-0 shadow" />
                <label asp-for="Title" class="ms-2"></label>

                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class=" py-2 col-12">
                <label asp-for="Description" class="ms-2 text-muted"></label>
                <input asp-for="Description" class="form-control border-0 shadow"></input>


            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="ISBN" class="form-control borber-0 shadow" />
                <label asp-for="ISBN" class="ms-2"></label>
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Author" class="form-control border-0 shadow" />
                <label asp-for="Author" class="ms-2"></label>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Listprice" class="form-control border-0 shadow" />
                <label asp-for="Listprice" class="ms-2"></label>
                <span asp-validation-for="Listprice" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="price" class="form-control border-0 shadow" />
                <label asp-for="price" class="ms-2"></label>
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="price50" class="form-control border-0 shadow" />
                <label asp-for="price50" class="ms-2"></label>
                <span asp-validation-for="price50" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="price100" class="form-control border-0 shadow" />
                <label asp-for="price100" class="ms-2"></label>
                <span asp-validation-for="price100" class="text-danger"></span>
            </div>
         @*    <div class="form-floating py-4 col-12">
                <select asp-for="CategoryId"  class="form-select border-0 shadow">
                    <option disabled selected>---Select Category----</option>
                </select>
                <label asp-for="Product.CategoryId" class="ms-2"></label>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div> *@
           @*  <div class="form-floating py-2 col-12">
                <input type="file" name="file" class="form-control border-0 shadow" />
                <label asp-for="ImageUrl" class="ms-2"></label>

            </div> *@
            <div class="row border">
                <div class="col-6 col-md-4 row">
                    <button class="btn btn-danger form-control" type="submit">Delete</button>

                </div>
                <div class="col-6 col-md-4 row">
                    <a asp-action="Index" asp-controller="Product" class="btn btn-primary form-control">Back List</a>
                </div>
            </div>
        </div>

    </form>
</div>

