@model ProductVM


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2"> @(Model.Product.Id!=0?"Create":"Update") Product</h2>
            </div>

        </div>

    </div>

</div>
<div class="card-body p-4">
    <form method="post" class="row" enctype="multipart/form-data">
       <input asp-for ="Product.Id"  hidden />
       <input asp-for="Product.ImageUrl" hidden/>
       <div class="row">
           <div class="col-10">
                <div class="border p-3 ">

                   @*  <div asp-validation-summary="ModelOnly"></div> *@
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Title" class="form-control border-0 shadow" />
                        <label asp-for="Product.Title" class="ms-2"></label>

                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                    <div class=" py-2 col-12">
                        <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                        <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>


                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.ISBN" class="form-control borber-0 shadow" />
                        <label asp-for="Product.ISBN" class="ms-2"></label>
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Author" class="form-control border-0 shadow" />
                        <label asp-for="Product.Author" class="ms-2"></label>
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Listprice" class="form-control border-0 shadow" />
                        <label asp-for="Product.Listprice" class="ms-2"></label>
                        <span asp-validation-for="Product.Listprice" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.price" class="form-control border-0 shadow" />
                        <label asp-for="Product.price" class="ms-2"></label>
                        <span asp-validation-for="Product.price" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.price50" class="form-control border-0 shadow" />
                        <label asp-for="Product.price50" class="ms-2"></label>
                        <span asp-validation-for="Product.price50" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.price100" class="form-control border-0 shadow" />
                        <label asp-for="Product.price100" class="ms-2"></label>
                        <span asp-validation-for="Product.price100" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-4 col-12">
                        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                            <option disabled selected>---Select Category----</option>
                        </select>
                        <label asp-for="Product.CategoryId" class="ms-2"></label>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input type="file" name="file" class="form-control border-0 shadow" />
                        <label asp-for="Product.ImageUrl" class="ms-2"></label>

                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">

                            @if (Model.Product.Id != 0)
                            {
                                <button class="btn btn-primary form-control" type="submit" style="width:150px"> Update</button>
                            }
                            else
                            {
                                <button class="btn btn-primary form-control" type="submit" style="width:150px"> Create</button>
                            }

                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-action="Index" asp-controller="Product" class="btn-outline-primary border form-control" style="width:150px">
                                Back to List
                            </a>
                        </div>

                    </div>

                </div>
           </div>
           <div class="col-2">
              <img src="@Model.Product.ImageUrl" width="100%" 
              style="border-spacing:5px; border:1px solid #999b99"/>
               
           </div>

       </div>
       

    </form>
</div>



@section scripts 
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Dec 25, 2024:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}